<div data-hook="installments" class="form-group">
  <div>
      <%= label_tag :max_number_of_installments %>
      <%= zone_form.number_field(:max_number_of_installments, min: 1, in: 1..120, step: 1, class: "form-control", id: "max_number_of_installments") %>
  </div>
  <div>
    <%= label_tag :base_value %>
    <%= zone_form.number_field(:base_value, min: 1, in: 1..10000, step: 1, class: "form-control") %>
  </div>
</div>
