<% if order.has_installments? %>
  <tr class="warning total total-with-interest">
    <td colspan="4" align="right">
      <b><%= I18n.t('spree.installment_adjustment_label', installment: order.installments_text )%></b>
    </td>
    <td class="month-total">
      <span class="lead text-primary"><%= order.display_total_per_installment.to_s %></span>
    </td>
  </tr>
<% end %>
