<%- interest = Spree::Interest.new order: @order %>
<%- if payment_method.accept_installments? && interest.max_number_of_installments > 1 %>
  <p class="field" data-hook="installments">
      <%= label_tag "installments_on_card_#{payment_method.id}" do %>
        <%= Spree.t(:installments) %>
      <% end %>
      <%= select_tag "#{param_prefix}[installments]", options_for_select(interest.format_options_for_select), id: "installments_on_card_#{payment_method.id}", class: "form-control select2" %>
  </p>
<% end %>
